<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="/static/css/normalize.css" rel="stylesheet" />
    <link href="/static/css/base.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Satisfies.it</title>
  </head>
  <body>
  {{template "header" .}}
  <br/>
  <br/>
  <br/>
  <br/>
    <h1>We couldn't find what your looking for. Try something else</h1>
  </body>
</html>
